<html lang="es">
    <head>
        <meta charset="es">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estructura web</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" href="../favicon.png" type="image/png">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
        <link rel="stylesheet" href="../css/style_contacta.css">
    </head>
    <body>
        <header>
            <div class="cabeceraLogo">
                <img src="../favicon.png" alt="logo empresa" width="924" height="1089">
                <h1>Nature adventure</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./viajes.html">Viajes</a></li>
                    <li><a href="#">Camper</a></li>
                    <li><a href="#">Contacta</a></li>
                    <!--<li><a href="#">Ver disponibilidad</a></li>-->
                </ul>
                <a href="#"><input type="button" value="Ver disponibilidad"></a>
            </nav>
        </header>
        <main>
            <div class="contenedor-formu">
                <h2 class="titulo-formu">Contacta con nosotros</h2>

                <form class="formu-contacta" id="formuContacta" method="post" action="#">
                    <div class="input-contenedor">
                        <label for="nombrecontacta">Nombre: </label>
                        <input type="text" id="nombreContacta" name="nombrecontacta" placeholder="Escriba su nombre">
                        <small class="error" id="nombreContactaError"></small>
                    </div>
                    <div class="input-contenedor">
                        <label for="telefonoContacta">Teléfono: </label>
                        <input type="tel" id="telefonoContacta" name="telefonoContacta" placeholder="Escriba su teléfono">
                        <small class="error" id="telefonoContactaError"></small>
                    </div>
                    <div class="input-contenedor">
                        <label for="emailContacta">Email: </label>
                        <input type="email" id="emailContacta" name="emailContacta" placeholder="Escriba su email">
                        <small class="error" id="emailContactaError"></small>
                    </div>
                    <div class="input-contenedor">
                        <label for="mensajeContacta">Mensaje: </label>
                        <textarea id="mensajeContacta" name="mensajeContacta" placeholder="Escriba su consulta"></textarea>
                        <small class="error" id="mensajeContactaError"></small>
                    </div>
                    <div class="input-privacidad">
                        <label for="privacidadContacta">Política de privacidad</label>
                        <input type="checkbox" id="privacidadContacta" name="privacidadContacta">
                        <small class="error" id="privacidadContactaError"></small>
                    </div>
                    <div class="button-contenedor">
                        <button type="submit" id="buttonContacta">Enviar consulta</button>
                    </div>
                </form>
            </div>
            <div class="contenedor-contacta">
                <div class="direccionContacta">
                    <p>Calle Inventada, Nº 250</p>
                    <p>CP: 30000 Cuidad Inventada</p>
                    <p>Tfno: 600000000</p>
                </div>
                <div id="mapaContacta">

                </div>
            </div>
        </main>
        <footer>
            <div class="footerInfo">
                <div class="footerContacto">
                    <p>Calle Inventada, Nº 250</p>
                    <p>CP: 30000 Cuidad Inventada</p>
                    <p>Tfno: 600000000</p>
                </div>
                <div class="footerCopy">
                    <p>&copy; Reservados todos los derechos</p>
                </div>
            </div>
            <div class="footerformu">
                <form id="footerForm" name="footerForm" action="#" method="get" target="_self">
                    <div>
                        <label for="nombre">Nombre: </label>
                        <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre">
                        <label for="apellidos">Apellidos: </label>
                        <input type="text" id="apellidos" name="apellidos" placeholder="Escribe tus apellidos">
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        <input type="email" id="email" name="email" placeholder="Escribe tu email">
                        <label for="asunto">Asunto: </label>
                        <input type="text" id="asunto" name="asunto" placeholder="Escribe tu asunto">
                    </div>
                    <div>
                        <label for="mensaje">Mensaje: </label>
                        <textarea rows="6" id="mensaje" name="mensaje" placeholder="Escribe aquí tu mensaje"></textarea>
                    </div>
                    <div class="footerBoton">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </footer>

        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
        <script src="../js/script_contacta.js"></script>
        <script src="../js/script_formu_footer.js"></script>
    </body>
</html>